/* body{
    background-image:url(./assets/Screenshot\ 2024-07-19\ at\ 21-26-48\ Black\ Modern\ Cyber\ Attack\ Protection\ Instagram\ Story\ -\ Tu\ historia.png) ;
    color: white;
    background-attachment: fixed
    
} */

/* body{
    background-image:url(./assets/Screenshot\ 2024-07-20\ at\ 00-55-57\ Black\ Modern\ Cyber\ Attack\ Protection\ Instagram\ Story\ -\ Tu\ historia.png) ;
    color: white;
    background-attachment: fixed
    
} */

 /* body{
    background-image:url(./assets/Screenshot\ 2024-07-20\ at\ 01-25-59\ Black\ Modern\ Cyber\ Attack\ Protection\ Instagram\ Story\ -\ Tu\ historia.png) ;
    color: white;
    background-attachment: fixed
    
}  */

body{
    background-image:url(./assets/Screenshot\ 2024-07-20\ at\ 10-37-09\ Black\ Modern\ Cyber\ Attack\ Protection\ Instagram\ Story\ -\ Tu\ historia.png) ;
    color: white;
    background-attachment: fixed
    
}